 body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .page-container {
    max-width: 800px;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
  }

  app-chat-room {
    height: 100%;
    margin-top: 20px;
  }