.join-chat-form {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.color-input {
  margin-top: .5rem;
  margin-bottom: .5rem;
  max-width: 100px;
}

.message-list {
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 400px;
  overflow-y: scroll;
  margin-bottom: 10px;
  font-size: 14px;
}


.message-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.message-form mat-form-field {
  flex: 1;
}

.message{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: .25rem;
}

.own-message {
  flex-direction: row-reverse;
}

.message-card {
  background-color: #d1d1d1;
}

.own-message .message-card {
  background-color: #bdeeb6;
}

.message .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #888888;
}

.message-user {
  font-weight: bold;
  font-size: 12px;
}

.message .message-body {
  flex: 1;
}
